<aside class="main">
  <div class="main__logoSection">
    <div class="main__logoImg">
      <img src="assets/IdeaPool_icon.png" alt="site logo" />
    </div>
    <h1 class="main__logoText">The Idea Pool</h1>
  </div>

  <div class="main__userSection">
    <div class="main__userSectionInfo" *ngIf="isAuth && !loading">
      <div class="main__userSectionImg">
        <img src="{{ userInfo.avatar_url }}" alt="user profile avatar" />
      </div>
      <h2 class="main__userName">{{ userInfo.name }}</h2>
      <button class="main__logoutText" (click)="logOut()">
        Log out
      </button>
    </div>
  </div>
  <!-- <LogOutSpinner logOutLoading={logOutLoading} /> -->
</aside>
