@import '../../assets/settings';

.ideaTable {
  width: 100%;
  border-collapse: collapse;

  th {
    font-size: 14px;
    color: #2a3842;
    font-weight: normal;
    padding: 40px 0 30px;
    text-align: center;
    width: 7%;

    &:nth-last-of-type(2) {
      font-weight: bold;
    }

    &:nth-of-type(2) {
      width: 45%;
    }
  }

  td {
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: normal;
    height: 60px;

    &:nth-of-type(2) {
      text-align: left;
      // padding-top: 30px;
      input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgba(42, 56, 66, 0.5);
        padding: 10px 0;
        font-size: 14px;

        &:focus {
          outline: #fff;
        }
      }
    }

    select {
      background-image: linear-gradient(-180deg, #f2f2f2 0%, #d4d4d4 100%);
      border: 1px solid #979797;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
      border-radius: 3px;
      height: 36px;
      width: 49px;
      font-size: 14px;
    }

    &:last-of-type {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__circle {
    width: 8px;
    height: 8px;
    background: rgba(42, 56, 66, 0.4);
    border-radius: 50%;
    margin: 0 auto;
  }

  &__icon {
    border: 0;
    background: white;
    @include imgFormat();
    cursor: pointer;
  }

  &__iconHover {
    display: none;
  }

  td:hover {
    .ideaTable__iconHover {
      display: block;
    }
  }
}

.spinner__wrapper {
  height: 22px;
}

.spinner {
  height: 100%;
  width: 100%;
  animation: rotate-s-loader 1s linear infinite;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  &__content {
    width: 400px;
    height: 250px;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;

    h2 {
      margin: 0;
      margin-top: 30px;
      padding: 30px 0 36px;
      text-align: center;
      font-size: 24px;
      font-weight: normal;
      color: #2a3842;
    }

    p {
      text-align: center;
      margin: 0;
      font-size: 16px;
      color: #2a3842;
      letter-spacing: -0.1px;
      line-height: 16px;
    }

    > div {
      margin-top: 86px;
      display: flex;
      justify-content: space-evenly;

      button {
        cursor: pointer;
        border: 0;
        background: #fff;
        font-size: 18px;
        font-weight: 500;

        &:nth-of-type(1) {
          color: #2a3842;
          letter-spacing: -0.11px;
        }

        &:last-of-type {
          color: #00a843;
          letter-spacing: 0;
        }
      }
    }
  }
}

.ideaTable__wrapper {
  overflow-x: auto;
}
