<div class="ideaTable__wrapper">
  <table class="ideaTable">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Impact</th>
        <th>Ease</th>
        <th>Confidence</th>
        <th>Avg.</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- {showCreate && (
      <IdeaRow setFetchIdeasData={setFetchIdeasData} fetchIdeasData={fetchIdeasData} idea={{}} isEditMode={true}
        showCreate={showCreate} toggleCreate={toggleCreate} />
      )}
      {ideas.map(idea => (
      <IdeaRow setFetchIdeasData={setFetchIdeasData} fetchIdeasData={fetchIdeasData} idea={idea} key={idea.id} />
      ))} -->
    </tbody>
  </table>
</div>
