@import '../../assets/settings';

.form {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__body {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }

  &__headingText {
    font-size: 40px;
    font-weight: normal;
    color: #2a3842;
    margin: 0;
    margin-bottom: 20px;
  }

  &__group {
    width: 100%;
    margin: 4% 0;
    display: flex;
    flex-direction: column;

    input,
    label {
      transition: all 0.2s;
    }

    input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #455e70;
      padding: 10px 0;
      font-size: 16px;
      color: rgba(42, 56, 66, 0.9);

      &:focus {
        outline: 0;
        border-bottom: 1px solid #2382c7;
      }

      &::placeholder {
        font-size: 16px;
        color: rgba(42, 56, 66, 0.7);
        transition: inherit;
      }
    }
  }

  &__actionSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10%;

    button {
      background-color: #00a843;
      border: none;
      color: white;
      padding: 2% 1%;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      width: 30%;
      cursor: pointer;
      align-self: center;
      display: flex;
      height: 40px;

      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }

      .button__text {
        flex: 1;
      }
    }

    p {
      font-size: 16px;
      color: $main-text-color;

      a {
        color: $main-site-color;
        text-decoration: none;
      }
    }
  }
}

.display__errorMessage {
  width: 100%;
  color: red;
  text-align: center;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;

  &.empty {
    display: none;
  }

  span {
    @include imgFormat();
    width: 10%;
    height: 70%;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.spinner__wrapper {
  width: 20%;
}

.spinner {
  height: 100%;
  width: 100%;
  animation: rotate-s-loader 1s linear infinite;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
