@import '../../assets/settings';

.dashboard {
  padding: 0 5%;
  min-height: 100vh;
  margin-bottom: 60px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(42, 56, 66, 0.2);
  }

  &__headerText {
    font-size: 28px;
    margin: 0;
    font-weight: normal;
    align-self: center;
    color: $main-text-color;
  }

  &__headerIcon {
    @include imgFormat();
    cursor: pointer;
  }

  &__noIdeaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;

    button {
      border: 0;
      background: white;
      color: #00a843;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &__bulbIcon {
    @include imgFormat();
  }
}
